a:link, a:visited {
  color:inherit;
}
a:hover {
  color:inherit;
}

.row_even { background-color: gray; }
.row_odd { background-color: darkgray; }
.row_creation { background-color: deepskyblue; }

.flightDeltaSpan {
}
.flightDeltaSpan svg {
  vertical-align: bottom; /* ADDED */
}
.flightDeltaTransaction {
}
.jsonData {
  color: #f4fb24f2
}
.jsonData {
  color: #f4fb24f2
}
